{
  "root": true,
  "rules": {
    "no-extra-semi": 2,
    "semi": [2, "always"],
    "eqeqeq": 2,
    "no-eval": 2,
    "no-undef": 2,
    "no-var": 2,
    "prefer-const": 2,
    "no-const-assign": 2,
    "no-this-before-super": 2,
    "object-shorthand": 1,
    "prefer-spread": 2
  }
}