html {
    font-family: 'Roboto', sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-size: 13px;
    line-height: 20px;
    background-color: #f5f5f5;
}

h1 {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.71429;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.71429;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.71429;
}
